---
import { slugify } from "@/utils/slugify";
import type { Challenges } from "@/types";

interface Props {
    entries: Challenges[];
}

const {entries = []} = Astro.props;
---

<section>
    <ul class="list-decimal">
        {
            entries.map(({ data }) => {
                return (
                    <li>
                        <a
                            class="font-bold text-blue-500"
                            href={`/projects/${slugify(data.name)}`}
                        >
                            {data.name}
                        </a>{" "}
                        - {data.description}
                    </li>
                );
            })
        }
    </ul>
</section>
