---
// Component Imports

import MainLayout from "@/layouts/MainLayout.astro";
import Menu from "@/components/astro/Menu.astro";

import projectsData from '@/data/projects.json';
import type {Project} from '@/types';


const projects = projectsData as Project[];

console.log(projects);
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<MainLayout>
	<main>
		<Menu entries={projects} />
	</main>

</MainLayout>
	