---
// Component Imports
import { getCollection } from "astro:content";

import MainLayout from "@/layouts/MainLayout.astro";
import Menu from "@/components/astro/Menu.astro";

const allChallenges = await getCollection("reactChallenges");

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<MainLayout>
	<main>
		<Menu entries={allChallenges} />
	</main>

</MainLayout>
	